<md-content>
    <md-card data-ng-repeat="user in users">
      <md-toolbar class="md-warn">
      <div class="md-toolbar-tools">
        <h2 class="md-flex">_id : {{user._id}}}</h2>
      </div>
    </md-toolbar>
      <md-card-content>
        <h2 class="md-title"></h2>
        <md-list>
           <md-subheader class="md-no-sticky">User Info</md-subheader>
            <md-list-item class="md-2-line">
            <md-icon md-svg-icon="communication:phone"></md-icon>
            <div class="md-list-item-text" ng-class="{'md-offset': $index != 0 }">
              <h3>$$hashKey</h3>
              <p> {{ user.$$hashKey }}</p>
              <h3>name</h3>
              <p> {{ user.name }}</p>
              <h3>position</h3>
              <p> {{ user.position }}</p>
            </div>
          </md-list-item>
        </md-list>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button ng-click="remove(user)">remove</md-button>
      </div>
      <md-card>
  </md-content>